/* for all devices */
body {
  font-family: "Raleway";
}
img {
  vertical-align: bottom;
}

/* header */
.header__contact {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* main */
.main {
  width: 100%;
}

/* main_title */
.main__titles {
  background: #f2f2f2;
}

/* main_iphone */
.main__iphone {
  background: #74cfae;
}

/* main_works */
.main__works {
  background: #f2f2f2;
}

/* main_skills */
.main__skills {
  background: #4e4e4e;
}

/* footer */
.footer {
  width: 100%;
}
.footer__sns {
  background: #f2f2f2;
}
.footer__bottom{
  background: #74cfae;
}


@media screen and (min-width:1200px) {
  /* common */
  .clearfix::after {
    clear: both;
    content: "";
    display: block;
  }
  .bolt__inner {
    margin: 0 auto;
    width: 1100px;
  }


  /* header */
  .header__contact-inner {
    padding: 15px 0;
  }
  .header__contact-inner .fa-bolt {
    color: #333;
    font-size: 40px;
  }
  .header__contact-btn {
    background: #74cfae;
    color: #fff;
    float: right;
    font-size: 12px;
    margin: auto;
    padding: 14px 12px;
    text-align: center;
    text-decoration: none;
    transition: .3s;
  }
  .header__contact-btn:hover {
    color: #333;
  }
  .header__contact-menuIcon-forSP {
    display: none;
  }
  .header__contact-area-forSP {
    display: none;
  }


  /* main */
  .main {
    padding-top: 70px;
  }
  /* main_titles */
  .main__titles-inner {
    text-align: center; /* 子要素とテキストの中央寄せ */
    padding-top: 250px;
    padding-bottom: 250px;
  }
  .main__title {
    color: #74cfae;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .main__sub-title {
    color: #c0c0c0;
    font-size: 30px;
  }
  .main__sub-title-br {
    display: none;
  }

  /* main_iphone */
  .main__iphone-inner {
    padding-top: 50px;
  }
  .main__iphone-img-wrapper {
    display: inline-block;
    margin-left: 50px;
    width: 208px;
  }
  .main__iphone-titles {
    float: right;
    text-align: center;
    width: 750px;
  }
  .main__iphone-titles__title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 35px;
  }
  .main__iphone-titles__text {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
  }

  /* main_works */
  .main__works-inner {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .main__works-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
  }
  .main__works-inner .flexbox:nth-of-type(1) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* .main__works-img {
    margin-top: 80px;
  } */
  .main__works__imgs a:nth-child(n+4) {
    margin-top: 80px;
  }
  .main__works__imgs a {
    opacity: .7;
    transition: .3s;
    text-decoration: none;
  }
  .main__works__imgs a:hover{
    opacity: 1;
  }
  .main__works-inner .flexbox:nth-of-type(2) {
    display: flex;
    justify-content: center; /* 左右中央 */
    align-items: flex-start; /* 上寄せ */
  }
  .main__works__footer {
    margin-top: 90px;
  }
  .main__works__footer-text {
    color: #333;
    font-size: 20px;
    text-align: center;
    width: 700px;
  }
  .main__works__footer-btn {
    background: #74cfae;
    color: #fff;
    font-size: 12px;
    margin-left: 90px;
    padding: 14px 20px;
    text-decoration: none;
    transition: .3s;
  }
  .main__works__footer-btn:hover {
    color: #333;
  }

  /* main_skills */
  .main__skills-inner {
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .main__skills-title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 70px;
    text-align: center;
  }
  .main__skills .flexbox {
    display: flex;
    justify-content: space-between;
  }
  .main__skills__imgs {
    margin: 0 auto;
    width: 1028px;
  }
  .main__skills-imgcap {
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
  }


  /* footer */
  /* footer_sns */
  .footer__sns-inner {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .footer__sns-icons .flexbox {
    display: flex;
    justify-content: space-around;
  }
  .footer__sns-icons a {
    color: #74cfae;
    display: inline-block;
    font-size: 40px;
    padding: 30px 0;
    text-align: center;
    transition: .3s;
    width: 185px;
  }
  .footer__sns-icons a:hover {
    background: #fff;
  }

  /* footer_bottom */
  .footer__bottom-inner {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .footer__bottom-text {
    color: #fff;
    font-size: 12px;
    text-align: right;
  }
}


@media screen and (min-width:767px) and (max-width:1199px) {
  /* common */
  .bolt__inner {
    margin: 0 auto;
    width: 97%;
  }

  /* header */
  .header__contact-inner {
    padding: 15px 0;
  }
  .header__contact-inner .fa-bolt {
    color: #333;
    font-size: 40px;
  }
  .header__contact-btn {
    background: #74cfae;
    color: #fff;
    float: right;
    font-size: 12px;
    margin: auto;
    padding: 14px 12px;
    text-align: center;
    text-decoration: none;
    transition: .3s;
  }
  .header__contact-btn:hover {
    color: #333;
  }
  .header__contact-menuIcon-forSP {
    display: none;
  }
  .header__contact-area-forSP {
    display: none;
  }

  /* main */
  .main {
    padding-top: 70px
  }
  /* main_titles */
  .main__titles-inner {
    text-align: center; /* 子要素とテキストの中央寄せ */
    padding-top: 250px;
    padding-bottom: 250px;
  }
  .main__title {
    color: #74cfae;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .main__sub-title {
    color: #c0c0c0;
    font-size: 30px;
  }
  .main__sub-title-br {
    display: none;
  }

  /* main_iphone */
  .main__iphone-inner {
    padding-top: 50px;
    padding-bottom: 25px;
  }
  .main__iphone-img-wrapper {
    margin: 0 auto 20px;
    width: 208px;
  }
  .main__iphone-titles {
    margin: 0 auto;
    text-align: center;
    width: 750px;
  }
  .main__iphone-titles__title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 35px;
  }
  .main__iphone-titles__text {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
  }

  /* main_works */
  .main__works-inner {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .main__works-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
  }
  .main__works__imgs {
    margin: 0 auto 90px;
    text-align: center; /* 画像の左右中央寄せ */
  }
  .main__works-inner .flexbox:nth-of-type(1) {
    display: flex;
    flex-direction: column;
  }
  .main__works__imgs a:nth-child(3n+4){
    margin-top: 80px;
  }
  .main__works__imgs a {
    opacity: .7;
    transition: .3s;
    text-decoration: none;
  }
  .main__works__imgs a:hover{
    opacity: 1;
  }
  /* .main__works-inner .flexbox:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    左右中央
  } */
  .main__works__footer {
    margin-top: 80px;
    text-align: center; /* 子要素とそのテキストを中央寄せ */
  }
  .main__works__footer-text {
    color: #333;
    font-size: 20px;
    margin: 0 auto 40px;
    width: 700px;
  }
  .main__works__footer-btn {
    background: #74cfae;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    transition: .3s;
  }
  .main__works__footer-btn:hover {
    color: #333;
  }

  /* main_skills */
  .main__skills-inner {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .main__skills-title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
  }
  .main__skills .flexbox {
    display: flex;
    flex-direction: column;
  }
  .main__skills__imgs {
    margin: 0 auto;
    text-align: center; /* img,cap,cap-text中央寄せ */
  }
  .main__skills-imgcap {
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
  }
  .main__skills__imgs figure {
    margin-bottom: 88px;
  }
  .main__skills__imgs figure:last-child {
    margin-bottom: 0;
  }


  /* footer */
  /* footer_sns */
  .footer__sns-inner {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .footer__sns-icons .flexbox {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
  }
  .footer__sns-icons a {
    color: #74cfae;
    display: inline-block;
    font-size: 40px;
    padding: 30px 0;
    text-align: center;
    transition: .3s;
    width: 130px;
  }
  .footer__sns-icons a:hover {
    background: #fff;
  }

  /* footer_bottom */
  .footer__bottom-inner {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .footer__bottom-text {
    color: #fff;
    font-size: 12px;
    text-align: right;
  }
}


@media screen and (max-width:766px) {
  /* common */
  .bolt__inner {
    margin: 0 auto;
    width: 97%;
  }
  .wrapper-forSP {
    overflow: hidden;
  }

  /* header */
  .header__contact-inner {
    padding: 15px 0;
  }
  .header__contact-inner .fa-bolt {
    color: #333;
    font-size: 40px;
  }
  .header__contact-btn {
    display: none;
  }


  /* main */
  .main {
    padding-top: 70px;
  }

  /* main_titles */
  .main__titles-inner {
    text-align: center; /* 子要素とテキストの中央寄せ */
    padding-top: 160px;
    padding-bottom: 130px;
  }
  .main__title {
    color: #74cfae;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .main__sub-title {
    color: #c0c0c0;
    font-size: 30px;
    line-height: 35px;
  }

  /* main_iphone */
  .main__iphone-inner {
    padding-top: 50px;
    padding-bottom: 25px;
  }
  .main__iphone-img-wrapper {
    margin: 0 auto 20px;
    width: 208px; /* img-width */
  }
  .main__iphone-titles {
    margin: 0 auto;
    text-align: center;
  }
  .main__iphone-titles__title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 35px;
  }
  .main__iphone-titles__text {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
  }

  /* main_works */
  .main__works-inner {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .main__works-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
  }
  .main__works__imgs {
    margin: 0 auto 90px;
    text-align: center; /* 画像の左右中央寄せ */
  }
  .main__works-inner .flexbox:nth-of-type(1) {
    display: flex;
    flex-direction: column;
  }
  .main__works__imgs a:nth-child(3n+4){
    margin-top: 80px;
  }
  .main__works__imgs a {
    opacity: .7;
    transition: .3s;
    text-decoration: none;
  }
  .main__works__imgs a:hover{
    opacity: 1;
  }
  .main__works__footer {
    margin-top: 80px;
    text-align: center; /* 子要素とそのテキストを中央寄せ */
  }
  .main__works__footer-text {
    color: #333;
    font-size: 20px;
    margin: 0 auto 40px;
  }
  .main__works__footer-btn {
    background: #74cfae;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    transition: .3s;
  }
  .main__works__footer-btn:hover {
    color: #333;
  }

  /* main_skills */
  .main__skills-inner {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .main__skills-title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
  }
  .main__skills .flexbox {
    display: flex;
    flex-direction: column;
  }
  .main__skills__imgs {
    margin: 0 auto;
    text-align: center; /* img,cap,cap-text中央寄せ */
  }
  .main__skills__imgs figure {
    margin-bottom: 88px;
  }
  .main__skills__imgs figure:last-child {
    margin-bottom: 0;
  }
  .main__skills-imgcap {
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
  }


  /* footer */
  /* footer_sns */
  .footer__sns-inner {
    padding: 50px 15px;
  }
  .footer__sns-icons .flexbox {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer__sns-icons a {
    color: #74cfae;
    display: block; /* 横幅いっぱいにする */
    font-size: 40px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
    transition: .3s;
  }
  .footer__sns-icons a:hover {
    background: #fff;
  }

  /* footer_bottom */
  .footer__bottom-inner {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .footer__bottom-text {
    color: #fff;
    font-size: 12px;
    text-align: right;
  }

}
